@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}
.timer {
  margin: auto;
  width: 50%;
  height: 30em;
  border: 4px dashed #aba7a2;
  padding: 20px;
  text-align: center;

  &__text {
    padding: 10%;

    &__title {
      font-weight: 500;
      font-size: 40px;
      margin: 35px;
      color: #333;
    }
    &__seconds {
      font-size: 60px;

      span {
        font-weight: 300;
        font-size: 25px;
        color: #aba7a2;
      }
    }
  }
  &__button {
    button {
      font-size: 25px;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: none;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      margin-right: 25px;
    }

    button:hover {
      border-bottom: 3px solid #e12929;
    }
  }
}
